<div class="box-call">
  <div class="box-form-call">
    <form action="#">
      <h3>Ligamos para você!</h3>
      <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, ut quia aliquid laudantium! </p>
      <input class="input-padrao" type="text" placeholder="Nome" required>
      <input class="input-padrao" type="email" placeholder="E-mail" required>
      <input class="input-padrao" type="tel" placeholder="Telefone" required>
      <fieldset>
        <label for="radio-bike1">
          <input type="radio" name="radio" value="bike1" id="radio-bike1">
          de 1 a 3 bikes
        </label>

        <label for="radio-bike2">
          <input type="radio" name="radio" value="bike2" id="radio-bike2">
          acima de 3 bikes
        </label>
      </fieldset>
      <input class="enviar"  type="submit" value="Enviar">
    </form>
  </div>
  <div class="button-row">
    <button class="btn-access">Mais informações</button>
  </div>
</div>