<div class="footer">
  <div class="social-medias">
    <ul>
      <li>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-youtube-play"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </li>
    </ul>
    <p class="text-footer">
      Atuamos em estrita observância à legislação securitária com corretora de seguros na Seperintendência de Seguros Privados SUSEP sob o n° 10.2040611.8 sediados na Av. Paulista, n° 726 - 13° andar, conjunto 1303 - São Paulo/SP no CEP 01310-910. Seguro só com corretor de seguros. &copy;  Copyright 2018 desenvolvido por Sun Seguros.
      <br>Representante autorizado Bradesco Saúde.
    </p>
  </div>
</div>