<div class="container">
  <div class="row row-about-bike">
    <p class="text-about-bike text-center ml-lg-5">
      saiba tudo sobre o mundo das bikes
    </p>
  </div>
</div>
<div class="row row-card bg-light text-dark">
  <div class="card" style="width: 14rem; align-items: center;">
    <img 
      src="https://gitlab.com/beawsome/waac-teste-web-designer/raw/master/icones/pedalando.png" 
      class="card-img-top" 
      alt="BMX"
    >
    <div class="card-body">
      <h5 class="card-title text-center">Bike de passeio</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-card btn-primary">Saiba mais</a>
    </div>
  </div>
  <div class="card vard-body " style="width: 14rem; align-items: center;">
    <img 
      src="https://gitlab.com/beawsome/waac-teste-web-designer/raw/master/icones/old-school.png" 
      class="card-img-top" 
      alt="BMX"
    >
    <div class="card-body">
      <h5 class="card-title text-center ">Bike Classica</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-card btn-primary">Saiba mais</a>
    </div>
    </div>
    <div class="card vard-body mt-5" style="width: 14rem; align-items: center;">
      <img 
        src="https://gitlab.com/beawsome/waac-teste-web-designer/raw/master/icones/bike-cross.png" 
        class="card-img-top" 
        alt="BMX"
      >
      <div class="card-body">
        <h5 class="card-title text-center">Bike cross</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-card btn-primary">Saiba mais</a>
      </div>
      </div>
    <div class="card vard-body mt-5" style="width: 14rem; align-items: center;">
      <img 
        src="https://gitlab.com/beawsome/waac-teste-web-designer/raw/master/icones/BMX.png" 
        class="card-img-top" 
        alt="BMX"
      >
      <div class="card-body">
        <h5 class="card-title text-center">BMX</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-card btn-primary">Saiba mais</a>
      </div>
  </div>   
</div>
