<h2>Trilhas e Espaços Fechados</h2>
<div class="container">
  <div class="row">
    <div class="card col-sm" style="width: 18rem;">
      <img src="https://gitlab.com/beawsome/waac-teste-web-designer/raw/master/fotos/daniel-von-appen-266179-unsplash.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cidades</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-danger">Conheça os planos</a>
      </div>
    </div>
    <div class="card col-sm" style="width: 18rem;">
      <img src="https://gitlab.com/beawsome/waac-teste-web-designer/raw/master/fotos/mikkel-bech-748940-unsplash.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cidades</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-danger">Conheça os planos</a>
      </div>
    </div>
    <div class="card col-sm" style="width: 18rem;">
      <img src="https://gitlab.com/beawsome/waac-teste-web-designer/raw/master/fotos/patrick-hendry-464055-unsplash.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cidades</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-danger">Conheça os planos</a>
      </div>
    </div>
  </div>
</div>
