<div class="topnav" id="myTopnav">
  <div class="dropdown">
    <button class="dropbtn">Loren ipsum
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Loren ipsum
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
  <a href="#about">Loren ipsum</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>
<form class="form-inline">
  <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true" ></i></span>
  <input class="form-control" type="search" placeholder="Search" aria-label="Search">
  <button type="button" class="btn btn-danger">Search</button>
</form>
