<div class="lista">
  <ul>
    <li class="">
      <a href="#">Loren Ipsum</a>
    </li>
    <li class="">
      <a href="#">Loren Ipsum</a>
    </li>
    <li class="">
      <a href="#">Loren Ipsum</a>
    </li>
    <li class="">
      <a href="#">Loren Ipsum</a>
    </li>
  </ul>
  <ul>
    <li class="">
      <a href="#">Loren Ipsum</a>
    </li>
    <li class="">
      <a href="#">Loren Ipsum</a>
    </li>
    <li class="">
      <a href="#">Loren Ipsum</a>
    </li>
    <li class="">
      <a href="#">Loren Ipsum</a>
    </li>
  </ul>
  <ul>
    <li class="">
      <a href="#">Loren Ipsum</a>
    </li>
    <li class="">
      <a href="#">Loren Ipsum</a>
    </li>
    <li class="">
      <a href="#">Loren Ipsum</a>
    </li>
    <li class="">
      <a href="#">Loren Ipsum</a>
    </li>
  </ul>
  <ul>
    <li class="">
      <a href="#">Loren Ipsum</a>
    </li>
    <li class="">
      <a href="#">Loren Ipsum</a>
    </li>
    <li class="">
      <a href="#">Loren Ipsum</a>
    </li>
    <li class="">
      <a href="#">Loren Ipsum</a>
    </li>
  </ul>
  <ul>
    <li class="">
      <a href="#">Loren Ipsum</a>
    </li>
    <li class="">
      <a href="#">Loren Ipsum</a>
    </li>
    <li class="">
      <a href="#">Loren Ipsum</a>
    </li>
    <li class="">
      <a href="#">Loren Ipsum</a>
    </li>
  </ul>
  <ul>
    <li class="">
      <a href="#">Loren Ipsum</a>
    </li>
    <li class="">
      <a href="#">Loren Ipsum</a>
    </li>
    <li class="">
      <a href="#">Loren Ipsum</a>
    </li>
    <li class="">
      <a href="#">Loren Ipsum</a>
    </li>
  </ul>
</div>
