.cotacao{
  background: url("src/img/formBG.png")no-repeat top;
  padding: 10% 0;
  width: auto;
  margin: 0 auto;
  position: inline-block;
}
.box{
  background: rgb(0, 0, 0, 0.5);
  margin: 0 auto;
  padding: 0 auto;
}

.box-form{
  display: block;
  background: #780b00;
  float: right;
  padding: 3% 10%;
  margin: -100px 2% 0 0;
}
.cotacao, h4, p{
  color: #fff;
}

.cotacao h4{
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
}
.cotacao p{
  font-weight: bold;
  font-size: 1em;
}

form{
  width: 120px;
  float: left;
  margin: 0 10px 10px 0;
  vertical-align: top;
  padding: 0 30px;
}
.box-form-text{
  float: left;
  margin: 0 auto;
  padding: 0 auto;
}

input{
  display: block;
  margin: 10px 20px;
}

input::placeholder{
  padding: auto 20px;
  color: #707070;
  text-align: left;
  margin: 0 20px;
}
.enviar{
  background: #e6a670;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 6px 65px;
  border-radius: 20px;
}
