<div class="cotacao">
  <div class="box">
    <div class="box-form">
      <div class="box-form-text">
        <h4>Quer comprar uma <br>bike para trilhas?</h4>
        <p>faça uma coração via WhatsApp (24h)</p>
      </div>
      <form action="#">
        <input class="input-padrao"
          type="text" 
          id="nome" 
          name="nome" 
          placeholder="Seu nome completo" 
          required>

        <input  class="input-padrao" 
          type="tel" 
          id="phone" 
          name="phone" 
          placeholder="Seu telefone (xx) 0 0000 0000" 
          required>  
          
        <input class="enviar"  type="submit" value="Enviar">
      </form>
    </div>
  </div>
</div>